@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body {
	background-image: url("background.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	text-align: center;
	margin: 20px auto;
	padding: 5px;
}

#hr {
	background: white;
	color: black;
	border: solid 1px;
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	font-family: inherit;
}

.subheading {
	font-size: 25px;
	text-shadow: 2px 2px lightblue;
	padding: 20px;
}

.generalbutton {
	background: white;
	color: black;
	border: solid 1px;
	margin: 2px;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	font-family: inherit;
}

/* FIX THIS
.generalbutton :hover {
    opacity: .7;
}
*/

#get-started {
    font-size: 1.5em;
    font-family: inherit;
    border: none;
    outline: none;
}

.app-title {
    font-size: 5em;
    padding-top: 2em;
}

.app-slogan {
    font-size: 0.7em;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}
