@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	text-align: center;
	margin: 20px auto;
	padding: 5px;
}

#hr {
	background: white;
	color: black;
	border: solid 1px;
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	font-family: inherit;
}

.generalbutton {
	background: white;
	color: black;
	border: solid 1px;
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	font-family: inherit;
}
